alembic
astroid
blinker
cffi
click
colorama
cryptography
dill
ecdsa
exceptiongroup
ez-setup
Flask
Flask-Cors
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
future
greenlet
gunicorn
iniconfig
isort
itsdangerous
Jinja2
python-jose
lazy-object-proxy
Mako
MarkupSafe
mccabe
packaging
platformdirs
pluggy
psycopg2
pycparser
pycryptodome
pylint
pytest
python-dotenv
six
SQLAlchemy
tomli
tomlkit
typed-ast
typing_extensions
Werkzeug
wrapt
flask_sqlalchemy
flask_cors